.enrollment-preview-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enrollment-preview-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
