.enrollment-preview-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.enrollment-preview-background {
  width: 100%;
  height: auto;
}

.enrollment-preview-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-field {
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 600;
}
